@import "../variables";

header {
  display: flex;
  flex-direction: column;
}

a {
  font-size: $font-size-menu;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background: $app-color-menu;
  }
}

mat-toolbar {
  background: $app-color-toolbar;
  padding-left: 80px;
}

main {
  padding: 20px;
}

.logo {
  text-align: center;
  margin-left: 40px;
}

.active-link {
  background: $app-color-menu;
}
