/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "material-override";

body {
  background: $app-color-background;
  font-family: sans-serif;
  font-size: $app-font-size-normal;
}

a {
  text-decoration: inherit;
  color: inherit;
}
