/* You can add global styles to this file, and also import other style files */

@import "variables";

body {
  background: $app-color-background;
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}
